@import url(https://fonts.bunny.net/css?family=poppins:300,500,600,800);

:root {
    --bg-color: #242530;
    --color-text-primary: #F9F9F9;
    --color-accent: #8097D3;
    --color-text-secondary: #BEC0C5;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    min-height: 100vh;
    min-width: 100vw;

    color: var(--color-text-primary);
    background-color: var(--bg-color);

    animation: fadeIn 0.6s ease-out forwards;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: column;

    gap: 36px;

    padding: 0 8rem 4rem 8rem;
    background: linear-gradient(145deg, #2e335a 0%, #1c1d2b 100%);

    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 0;
}

.nav-icon {
    height: 64px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: .85em;
}

.header-container {
    display: flex;
    align-items: center;

    justify-content: space-between;
    gap: 4rem;
}

.hero-text-container {
    display: flex;
    flex-direction: column;

    gap: 1em;
    width: 24em;
}

.hero-image-container-phone-mockup {
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.nav-btn {
    padding: 8px 12px;
    background-color: var(--color-accent);

    color: var(--color-text-primary);
    font-weight: 500;

    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: #91abec;
    transition: 0.5s;
}

.nav-link {
    padding: .5rem;
    border-radius: 8px;
}

.nav-link:hover {
    opacity: .8;
    transition: 0.5s;
    background-color: #1c1d2b;
    border-radius: 12px;
}

.glow-btn {
    padding: 8px 24px;
    background-color: var(--color-accent);

    color: var(--color-text-primary);
    font-weight: 500;

    border-radius: 12px;
    -webkit-box-shadow:0px 0px 105px 20px rgba(128,152,211,0.5);
    -moz-box-shadow: 0px 0px 105px 20px rgba(128,152,211,0.5);
    box-shadow: 0px 0px 105px 20px rgba(128,152,211,0.5);
}

.glow-btn:hover {
    cursor: pointer;
    background-color: #91abec;
    transition: 0.5s;
}

.hero-text-container-interactables {
    display: flex;
    align-items: center;

    gap: 1em;
}

.github-interactable img {
    display: block;
}

.github-interactable img:hover {
    opacity: 0.8;
    transition: 0.5s;
}

main {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
}

.features-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem 8rem 4rem 8rem;
}

.features-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.feature-card {
    display: flex;
    flex-direction: column;
    background-color: #2e335a;

    padding: 1.5rem;
    border-radius: 16px;

    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.download-section {
    display: flex;
    flex-direction: column;

    background-color: #1c1d2b;

    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 4rem 8rem;
    text-align: center;
    gap: 2rem;
}

.download-section-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-store-options {
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background-color: #16171f;
}

.footer-interactables {
    display: flex;
    gap: 1rem;
}

footer a {
    color: var(--color-text-secondary);
    text-decoration: none;

    font-size: .9em;
    transition: .5s;
}

.footer-interactables a:hover {
    color: var(--color-text-primary);
    text-decoration: underline;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}